@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --text-light: #1a202c;
}

@layer base {
  html {
    font-size: 16px;
    background-color: var(--background-light);
    color: var(--text-light);
  }

  body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 5px 5px;
  }
}